.history
.idea
.secrets
.vars
.venv/
__pycache__/
.plans/
.gcloud/
infra/.terraform/
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.*
infra/**/.terraform/
infra/**/.terraform.lock.hcl
infra/**/*.tfstate
infra/**/*.tfstate.*
*.auto.tfvars
*.auto.tfvars.json
backend/pathoptimizer-*.json
/Accept:
/GET
/Host:
/User-Agent:
