

.mapContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


Box
        p={4}
        borderRadius='lg'
        m={4}
        bgColor='white'
        shadow='base'
        minW='container.md'
        zIndex='1'

.console{
    padding: 4px;
    
}
