
.console {
    display: flex;
    position: fixed;
    top: 100px;
    left: 20px;
    padding: 16px;
    gap: 20px;
    z-index: 1;
    align-items: flex-start;
}




.viewRequirementsButton {

    font-size: 1rem;
    padding: 15px;
    border-radius: 0.4rem;
    border: 1px solid black;
    margin-top: 20px;
}

.calculateRouteButton {
    background-color: black;
    font-size: 1rem;
    color: white;
    padding: 15px;
    border-radius: 0.4rem;
    margin-top: 20px;
    box-shadow: var(--light-shadow);
}



.title{
    font-size: xx-large;
    font-weight: 700;
}



.addButton{
    align-self: stretch;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 15%;
}





.inputLine {
    display: flex;
    width: 100%;
    gap: 10px;
}

