.mapContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.console {
    display: flex;
    position: fixed;
    top: 100px;
    left: 20px;
    padding: 16px;
    gap: 20px;
    z-index: 1;
    align-items: flex-start;
}

.console form {
    background-color: white;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;

    box-shadow: var(--light-shadow);
    border-radius: 0.4rem;

}


.console form .inputLine input {
    height: 40px;
    padding: 0px 4px;
    font-size: medium;
    border-bottom: 1px solid gray;
    width: 100%;


}

.console form .inputLine .input {
    flex: 1;


}

.console form input:focus {
    outline: none;
}



.viewRequirementsButton {

    font-size: 400;
    padding: 15px;
    border-radius: 0.4rem;
    border: 1px solid black;
    margin-top: 20px;
}

.calculateRouteButton {
    background-color: black;
    color: white;
    font-size: 400;
    padding: 15px;
    border-radius: 0.4rem;
    margin-top: 20px;
    box-shadow: var(--light-shadow);
}

.requirements {
    background-color: white;
    padding: 28px 32px;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-radius: 0.4rem;



}

.requirements .closeIcon {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}


.requirements .settingLine {
    display: flex;
    align-items: center;
    gap: 20px;
}

.requirements select {
    width: 300px;
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid;
}

.requirements select:focus {
    outline: none;
}

.title{
    font-size: xx-large;
    font-weight: 700;
}



.result {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: white;
    width: 400px;

    padding: 28px 32px;

    display: flex;
    flex-direction: column;
    gap: 20px;


    box-shadow: var(--light-shadow);
    border-radius: 0.4rem;


}

.addButton{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}


.result h1 {
    font-size: large;
    font-weight: 600;
}


.inputLine {
    display: flex;
    width: 100%;
    gap: 10px;
}

.route-details{
    display: flex;
    gap: 28px;
}