.mapContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {}




.console {
    width: 20%;
    position: fixed;
    top: 100px;
    left: 20px;
    padding: 16px;
    background-color: white;
    z-index: 1;
}



.result {

    width: 20%;
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: white;
    padding: 16px;
}